<!DOCTYPE html>
<html>
<head>
    <title>Order Delivered</title>
</head>
<body>
    <p>Hello {{ customer_name }},</p>
    <p>We are pleased to inform you that your order (ID: {{ order_id }}) has been delivered successfully. We hope you enjoy your purchase!</p>
    <p>For further details, please visit our site at <a href="http://52.91.164.239/">Webshop.de</a>.</p>
    <p>If you have any questions or need assistance, feel free to contact our support team.</p>
    <p>Thank you for shopping with us!</p>
</body>
</html>
