<!DOCTYPE html>
<html>
<head>
    <title>Order Confirmation</title>
</head>
<body>
    <h3>Dear {{ customer_name }},</h3>
    <p>Thank you for your order!</p>

    <h3>Purchased Products:</h3>
    <ul>
        {% for product in products %}
            <li><strong>{{ product.name }}</strong> - Quantity: {{ product.quantity }} - Price: ${{ product.price_with_tax }}</li>
        {% endfor %}
    </ul>

    <p>Your order has been successfully placed and is now confirmed.</p>
    <p>Keep Shopping with us!!</p>
    <br>
    <p>Best Regards,</p>
    <p>Webshop Team</p>
</body>
</html>
